.login-btn {
  background-color: white;
  border: none;
  font-size: 1rem;
  color: black;
  padding: 10px 10px;
  margin-right: 25px;
  border-radius: 10px;
  font-weight: bold;
}

.loginform {
  display: inline-grid;
  border: 10px white solid;
  border-radius: 10px;
  background-color: white;
}

.regform {
  display: inline-grid;
  border: 10px white solid;
  border-radius: 10px;
  background-color: white;
}

.reginput {
  font-size: 1rem;
  padding: 10px 100px;
  border-radius: 5px;
}

.reg-btn {
  border: none;
  font-size: 1rem;
  background-color: inherit;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  font-weight: bold;
}
